PORT=5000
MONGODB_URI=mongodb+srv://shizamubashir99_db_user:<GWWUoOYDg4WyyFhV>@cluster0.zxu9ytt.mongodb.net/BSR_Marketplace?appName=Cluster0
cd /c/BSR_Marketplace/server

cat << 'EOF' > .env.example
PORT=5000
MONGODB_URI=mongodb+srv://BSR_db_user:<YOUR_PASSWORD_HERE>@cluster0.zxu9ytt.mongodb.net/BSR_Marketplace?appName=Cluster0
